#container {
  height: 1200px;
  width: 1100px;
  background-color: #FFE;
  padding: 20px 100px 20px 100px;
  margin: 20px 100px 20px 100px;
}

body {
  font-family: "Arial", sans-serif;
}

nav {
  background-color: #FFB4B0;
  height: 30px;
  width: 900px;
  margin: 10px 0 10px 5px;
  border:  1px solid black;
  padding: 0;
}

nav ul {
  margin: 7px 0 0 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 0.9em;
  border-right: 1px solid black;
  width: 100px;
}

.nav-selected {
  text-decoration: none;
  color: #000;
}

.left-box {
  height:  298px;
  width: 228px;
  background-color: #4DD7FA;
  border: 1px solid black;
  margin: 0 5px 0 5px;
  padding: 0;
  float: left;
  font-size: 0.8em;
}

.right-box {
  height: 298px;
  width: 658px;
  background-color: #FEFAC0;
  border: 1px solid black;
  padding: 0;
  margin: 0 5px 0 5px;
  float: left;
}

.song-title {
  list-style: none;
  font-size: 1em;
  font-weight: bold;
  color: #785616;
  margin: 4px 0 4px 0;
}

ul.song-details {
  font-size: .7em;
  padding: 0;
  margin: 0;
}

.song-details li {
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 200px;
  border-right: 1px solid black;
}

li.last-item {
  border-right: none;
}

input[type="range"] {
  margin: 0 0 0 25px;
}

.left-box label, .left-box select, .left-box legend {
  margin: 0 0 0 25px;
  color: #000000;
}

#buttons-left-column {
  display: inline-block;
  margin-left: 10px;
  padding: 0 0 0 10px;
}

#buttons-right-column {
  display: inline-block;
  padding: 0 0 0 10px;
}

#filter-button {
  margin-left: 80px;
}

#mainContent {
  clear: both;
}

.nodisplay {
  display: none;
}

#addMusicView label {
  clear: left;
  display: inline-block;
  margin-left: 30%;
  width: 60px;
  float: left;
}

#addMusicView input {
  display: inline-block;
  float: left;
  margin-bottom: 5px;
}

#addMusicView button {
  clear: left;
  display: block;
  margin-left: 41%;
}